{#
/**
 * Multiple Choice question item Html
 *
 * @var $sRows      : the rows, generated with the views rows/answer_row*.twig
 *
 * @var $name
 * @var $anscount
 */
#}
<!-- Multiple Choice -->

<!-- answer -->
{# What is the usage of this input ? #}
<input type="hidden" name="{{ name }}" value="{{value}}" id="{{name}}" />
<div class="centerer">
	<div class="inliner">
		<img src="{{question_template_attribute.image_url}}" usemap="#map{{name}}" id="map{{name}}" />
	</div>
</div>
<div class="{{ coreClass }} row image-map" role="group" aria-labelledby="ls-question-text-{{ basename }}">
	<map name="map{{name}}">
		{{ sRows }}
	</map>
	<!-- end of answer -->
	<script>
		$('#map{{name}}').mapster({
			singleSelect: true,
			fillColor: '00ff00',
			fillOpacity: 0.3,
			stroke: true,
			render_highlight: {
				strokeWidth: 1
			},
			strokeColor: '000000',
			onClick: function(event) {
				var data = $(event.e.target).data();
				var code = data.code;
				$('#{{name}}').val(code);
			}
		});
		if($('#{{name}}').val()) {
			$('area[data-code="' + $('#{{name}}').val() + '"]').mapster('select');
		}
	</script>
</div>
